*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: lightgray;
}

#wrapper{
    position: relative;
    margin: 0 auto;
    top: 200px;
    width: 80%;
    text-align: center;
    background-color: white;
    max-width: 500px;
    
}

header h1{
    margin-top: 30px;
}

h2{
   text-align: center;
   font-size: 25px;
   margin-top: 25px;
   letter-spacing: 1px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

form{
    text-align: center;
    margin-top: 30px;
}

img {
   max-width: 60%;
   height: auto;   
}
#Username,#Password{
    margin-top: 15px;
    border-left: none;
    border-right: none;
    border-top: none;
}

#Submit{
    margin-top: 25px;
    font-size: 16px;
    padding: 5px;
    border: 1px solid black;
   
    
}
#Submit:hover{
    background-color: lightseagreen;
}





